*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
}

header{
  background-color: yellow;
  height: 100px;
}

aside {
  background-color: green;
}

main {
  background-color: red;
}

section {
  background-color: blue;
}

article {
  background-color: purple;
}

footer {
  background-color: orange;
}